

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
  }
  
  .signupform {
    margin-top: 60px;
    flex-basis: 100%;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-left: -100px;
  }
  
  .error {
    display: flex;
    padding: 5px;
    color: red;
  }
  
  .btn-link {
    text-decoration: none;
    color: coral;
    font-size: 20px;
    font-weight: bold;
  }

  .login-link{
    margin-top: 18px;
  }