/* FilterComponent.css */

.filter-container {
    margin: 8px;
    border-radius: 10px;
    padding: 8px;
    background-color: #57a8cc;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-evenly;
  }
  
  .filter-label {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-right: 8px;
  }
  
  .filter-select {
    padding: 8px; /* Increased padding for space */
    font-size: 17px;
    font-weight: 500;
    margin-right: 8px; /* Added margin for space between filters */
  }
  
  .apply-button,
  .clear-button {
    padding: 8px 16px;
    font-size: 17px;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -2px;
  }
  
  .apply-button {
    background-color: #555;
    margin-right: 8px; /* Added margin for space between buttons */
  }
  
  .clear-button {
    background-color: #555;
  }

  .clear-button:hover{
    background-color: crimson;
  }
  .apply-button:hover{
    background-color: rgb(49, 206, 83);
  }

  .filter-dropdown{
    margin-left: 20px;
    margin-right: 20px;
    /* font-weight:600 ; */
    padding: 8px 16px;
    font-size: 17px;
    /* font-weight: bold; */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -2px;
    background-color: #fff;
    
  }
  label{
  
    font-size: 20px;
  }

  select{
    /* background-color: #555; */
    border: none;
    /* color: aliceblue; */
  }
